<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="test2" value="Some Test Value 5" />
    <add key="TestInt" value="102" />
    <add key="TestBool" value="True" />
    <add key="TestDouble" value="10.01" />
    <add key="TestDateTime" value="2014-05-18 11:14:28Z" />
    <add key="TestTimeSpan" value="00:12:30" />
    <add key="TestUri" value="http://fsharp.org" />
  </appSettings>
  <connectionStrings>
    <add name="Test" connectionString="Server=.;Database=SomeDatabase;Integrated Security=true" />
  </connectionStrings>
</configuration>