version 8.1.0
source https://api.nuget.org/v3/index.json
storage: none

nuget YamlDotNet
nuget FSharp.Core 8.0.301

nuget System.Configuration.ConfigurationManager 9.0.4
nuget NETStandard.Library.NETFramework

github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK tests/ProvidedTypesTesting.fs

group Test
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core redirects: force
    nuget Expecto 9.0.4
    nuget System.Configuration.ConfigurationManager 9.0.4 redirects: force
    nuget System.Resources.Extensions
