source http://nuget.org/api/v2

nuget FAKE
nuget FSharp.Formatting
nuget xUnit ~> 1
nuget xUnit.runners ~> 1
nuget Octokit
nuget SourceLink.Fake
nuget NuGet.CommandLine ~> 2
nuget SharpYaml

github fsharp/FAKE modules/Octokit/Octokit.fsx