source http://nuget.org/api/v2
framework net46

nuget FAKE
nuget FSharp.Formatting
nuget Expecto
nuget Octokit
nuget SourceLink.Fake
nuget NuGet.CommandLine
nuget SharpYaml
nuget FSharp.Core 4.0.0.1

github fsharp/FAKE modules/Octokit/Octokit.fsx