<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="test2" value="Some Test Value 5"/>
    <add key="TestInt" value="102"/>
    <add key="TestBool" value="True"/>
    <add key="TestDouble" value="10.01"/>
    <add key="TestTimeSpan" value="2.01:02:03.444"/>
    <add key="TestDateTime" value="02/01/2014 03:04:05.777"/>
  </appSettings>

  <connectionStrings>
    <add name="Test1" connectionString="Server=myServerAddress;Database=myDataBase;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>